<div class="post">
  <h1 class="wtmotherf"><a href="/archive/?category=14">WTmotherF</a></h1>
  <h2><a class="title" rel="nofollow" href="/out/?id=1326" target="_blank" onmouseover="window.status='http://www.youtube.com/watch?v=PGHfTstfWwk';return true;" onmouseout="window.status=' ';return true;" title="http://www.youtube.com/watch?v=PGHfTstfWwk">Turtle Orgasm</a></h2>
  <p class="post">The weirdest dick you ever done saw.</p>
  <h3>By: <a class="author" href="/profile/?id=9">calvinhobbes</a> | Jul 4th, 2015 (3:35 PM) | <span class="eplus" style="font-weight: bold;">18+</span>  | Thanks: <a class="author" href="/profile/?id=919">CrapVonTrapp</a>   </h3>
  <h4>[<a title="13 new comments" href="/view/?id=1326&amp;last">Comments (13)</a>]</h4>
</div>