  <a name="top" id="top"></a>
<table id="header" border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td ><a href="/"><img src="/common/images/logo.png" border="0" alt="fazed logo" /></a></td>
    <td id="logo">Backwash</td>
    <td id="slogan" width="100%"></td>
    <td><a href="javascript:void(0);" onclick="window.open('/forum/online/', 'online', 'scrollbars=yes,resizable=yes,status=yes,width=230,height=300');"><img class="topimg" src="/common/images/online.jpg" border="0" alt="members online" /></a></td>
    <td nowrap="nowrap">&nbsp;<a href="javascript:void(0);" onclick="window.open('/forum/online/', 'online', 'scrollbars=yes,resizable=yes,status=yes,width=230,height=300');">13 online</a> | &nbsp;</td>
    <td><a href="/pm/"><img class="topimg" src="/common/images/pm.jpg" border="0" alt="private messages" /></a></td>
    <td nowrap=\"nowrap\">&nbsp;<a href="/pm/">0 messages</a> | <%= render 'layouts/current_user' %> | <%= render 'layouts/current_user2' %></td>
  </tr>
</table>
<%= render 'layouts/nav' %>