  <a name="top" id="top"></a>
<table id="header" border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td ><a href="/"><img src="http://slorum.net/common/images/logo.png" border="0" alt="fazed logo" /></a></td>
    <td id="logo">Backwash</td>
    <td id="slogan" width="100%"></td>
    <%= user_signed_in? ? (render'layouts/signed_in') : (render'layouts/not_signed_in') %>
  </tr>
</table>
<%= render 'layouts/nav' %>