<div id="topnav">
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/forum">forum</a></li>
    <li><a href="/archive/">archive</a></li>
    <li><a href="/submit/">suggest a link</a></li>
    <li><a href="/live/">live</a></li>
  </ul>
</div>