<div class="pagination">
  <ul>
    <li class="pagination-cellsel" style="padding-left: 7px; padding-right: 7px;">1</li>
    <li ><a href="/?p=2" style="padding-left: 7px; padding-right: 7px;">2</a></li>
    <li ><a href="/?p=3" style="padding-left: 7px; padding-right: 7px;">3</a></li>
    <li ><a href="/?p=4" style="padding-left: 7px; padding-right: 7px;">4</a></li>
    <li ><a href="/?p=5" style="padding-left: 7px; padding-right: 7px;">5</a></li>
    <span style="color: #bbb;"> - </span>
    <li ><a href="/?p=45" style="padding-left: 6px; padding-right: 6px;">45</a></li>
    <li style="margin-left: 5px;"><a href="/?p=2" style="padding-left: 4px; padding-right: 4px;">next &gt;</a></li>
  </ul>
</div>
</div>