<div id="right">
  <div class="menutl">
    <div class="menutr">Fazed</div>
  </div>
  <h2>
    <a href="/profile/">my profile</a>
    <a href="/forum/">forum</a>
    <a href="/cdn-cgi/l/email-protection#55262134333315223a273e223037253432307b363a38">contact us</a>
  </h2>
  <div class="menutl">
    <div class="menutr"><a href="/forum/" class="external">Active Discussions</a></div>
  </div>
  <h2 id="discussions">
    <a href="/forum/view/?id=70&amp;last">Political Opinions - We all have them, but only mi...</a><a href="/forum/view/?id=642&amp;last">Pizza</a><a href="/forum/view/?id=793&amp;last">Careless Whispers II: Bloop's Revenge</a><a href="/forum/view/?id=17&amp;last">Programming / Game Dev </a><a href="/forum/view/?id=200&amp;last">Bitcoins, Dogecoins, Altcoins and Crypto-currencie...</a><a href="/forum/view/?id=3&amp;last">PC Gaming</a><a href="/forum/view/?id=64&amp;last">AndRoid Rage</a></h2>
  <div class="menutl">
    <div class="menutr"><a href="#" class="external">Legal Stuff</a></div>
  </div>
  <h2>
    <a href="/tos/">Terms of Service</a>
    <a href="/faq/">FAQ</a>
    <a href="/rules/">Rules</a>
    <a href="/privacy/">Privacy</a>
  </h2>
  <div class="menutl">
    <div class="menutr"><a href="#" class="external">Sites We Like</a></div>
  </div>
  <h2>
    <a href="http://www.fazed.org">Fazed</a>
  </h2>
</div>